:root {
    --app-separator-width: 0.1em;
    --app-separator-color: black;
    --app-planning-space: 0.5em;
    --app-planning-time-width: 4em;
    --app-planning-status-open: lightblue;
    --app-planning-status-closed: lightgreen;
}

.scroll-area-x {
    width: 100%;
    overflow: auto;
}

.content-area {
    position: relative;
}

.planning-header-top {
    position: absolute;
    text-align: center;
    width: var(--app-planning-time-width);
}

.planning-header-left {
    position: absolute;
}

.vline {
    position: absolute;
    width: var(--app-separator-width);
    background-color: var(--app-separator-color);
}

.hline {
    position: absolute;
    height: var(--app-separator-width);
    background-color: var(--app-separator-color);
}

.planning-item {
    position: absolute;
    background-color: var(--app-planning-status-open);
    border-radius: 1em;
    margin: calc(var(--app-separator-width) / 2);
}

.planning-item > div {
    padding: var(--app-planning-space);
}
